<div class="col-md-6 offset-md-3">
    <h2>Update Employee</h2>
    <form (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstName"
            [(ngModel)]="employee.firstName" name="firstName">
    
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName"
            [(ngModel)]="employee.lastName" name="lasttName">
    
            <label>Email Id</label>
            <input type="text" class="form-control" id="email"
            [(ngModel)]="employee.email" name="email">
    
            <button class="btn btn-success mt-2" type="submit">Submit</button>
        </div>
    </form>
    </div>